@import "../../.cache/wal/colors-waybar.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetBrainsMono Nerd Font;
  font-size: 15px;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

#custom-idle_inhibitor {
	font-size: 18px;
    border-radius: 20px;
    padding: 0px 15px;
	background-color:@color0;
	color:@color15;
}
#custom-idle_inhibitor.sleep {
    padding: 0px 22px 0px 17px;
}
#custom-idle_inhibitor.screensaver {
    padding: 0px 13px 0px 14px;
	background-color:#e2863f;
}
#custom-idle_inhibitor.wake {
	background-color:#c9545d;
}

#custom-recorder {
	font-size: 18px;
    padding: 0px 15px;
    border-radius: 20px;
	background-color:@color0;
	color:@color15;
}

#custom-recorder.rec {
	color:#c9545d;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#bluetooth,
#custom-hyprPicker,
#custom-hyprPicker,
#custom-power-menu,
#custom-spotify,
#custom-weather,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default {
  padding: 0px 15px;
  color: @color15;
  /* color: #bf616a; */
  border-radius: 20px;
  background-color: @color0;
}

#window,
#workspaces {
  border-radius: 20px;
  padding: 0px 10px;
  background-color: @color0;
}

#workspaces button {
  padding: 0 0px;
  color: @color6;
  background-color: transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 0;
}

#workspaces button.focused {
  background-color: transparent;
}
#workspace button.hover {
  background-color: transparent;
}
#workspaces button.active {
  color: @color15;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

window#waybar {
  /* background-color: rgba(26, 27, 38, 0.5; */
  background-color: transparent;
  color: @color6;
  transition-property: background-color;
  transition-duration: 0.5s;
  /* border-top: 8px transparent; */
  border-radius: 0px;
  transition-duration: 0.5s;
  margin: 0px 0px;
}

window#waybar.empty #window {
    background-color: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.fullscreen #window {
  border-radius: 5px;
  background-color: @color6;
  color: @color0;
}

#cpu {
  color: @color1;
  background-color: @color0;
}

#memory {
  color: @color2;
  background-color: @color0;
}

#custom-power-menu {
  border-radius: 9.5px;
  background-color: @color0;
  border-radius: 7.5px;
  padding: 0 0px;
}

#custom-launcher {
  background-color: @color0;
  color: @color3;
  border-radius: 7.5px;
  padding: 0 0px;
}

#custom-weather.severe {
  color: #eb937d;
}

#custom-weather.sunnyDay {
  color: #c2ca76;
}

#custom-weather.clearNight {
  color: #cad3f5;
}

#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight {
  color: #c2ddda;
}

#custom-weather.rainyDay,
#custom-weather.rainyNight {
  color: #5aaca5;
}

#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight {
  color: #d6e7e5;
}

#custom-weather.default {
  color: #dbd9d8;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#pulseaudio,
#wireplumber {
  color: @color10;
}

#pulseaudio.muted,
#wireplumber.muted {
  color: @color15;
}

#backlight {
  /* color: #EBCB8B; */
  color: @color14;
}

#clock {
  color: @color15;
  /* background-color: @color0; */
}

#battery {
  color: @color4;
  /* background-color: @color8; */
}

#battery.charging,
#battery.full,
#battery.plugged {
  color: #26a65b;
  /* background-color: #26a65b; */
}

@keyframes blink {
  to {
    background-color: @color0;
    color: @color7;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: @color0;
}

#disk {
  background-color: @color10;
}

#bluetooth {
  color: #707d9d;
}

#bluetooth.disconnected {
  color: #f53c3c;
}

#network {
  color: @color11;
}

#network.disconnected {
  color: #f53c3c;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#language {
  background: @color3;
  color: @color10;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: @color5;
  color: @color0;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 0px;
}

#keyboard-state > label.locked {
  background: @color0;
}
